@charset "utf-8";
a:link {
	color: #0ab102;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0ab102;
}
a:hover {
	text-decoration: none;
	color: #666;
}
a:active {
	text-decoration: none;
	color: #666;
	text-align: right;
	font-size: 12px;
}

.bodycopy {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 22px;
	text-align: justify;
}
.headingline {
	background-color: #FFF;
	background-repeat: repeat-x;
	background-image: url(../images/greenline.gif);
}
.headingcopy {
	font-size: 20px;
	color: #0ab102;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: left;
}
.biocopy {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 22px;
	padding-left: 20px;
	text-align: justify;
}


.smallerfont {
	font-size: 11px;
}
.bodycopy p {
	text-align: left;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
